
<div class="container">
    <h1>About page</h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti commodi ducimus provident iusto itaque ullam, molestias consequatur libero cum porro! Animi rem laudantium, quisquam enim harum voluptas eos voluptatibus delectus!
    </p>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti commodi ducimus provident iusto itaque ullam, molestias consequatur libero cum porro! Animi rem laudantium, quisquam enim harum voluptas eos voluptatibus delectus!
    </p>
    
    <ul class="nav nav-tabs">
        
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/about/one">One</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/about/two">Two</a>
        </li> 
      </ul>


    <router-outlet></router-outlet>
</div>