<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Department</h1>
    <a routerLink="/department/add" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Ajouter</a>
</div>





<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Tous les departments</h6>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let d of departments">
                    <td>{{d.id}}</td>
                    <td>
                        <span class="badge bg-info text-white">{{ d.title }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>