#title{
    color: red;
}

.can-access{
    background-color: green;
    color: white;
}

.access-denied{
    background-color: red;
    color: white;
}

.btn:active{
    background-color: blue;
}


.text-danger{
    color: rgb(233, 84, 84);
}


.alert-block{
    position: fixed;
    z-index: 111;
    background-color: #0000009c;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
 
.alert-block > div{
    
    width: 468px;
    margin: auto;
    margin-top: 250px;
    padding: 100px;
    background-color: white;
    border-radius: 15px;
} 


.ball{
    width: 100px;
    height: 100px;
    background-color: orange;
    border-radius: 50%;
    position: fixed;
    left: 0;
    top: 0;
}

.feild{
    width: 100%;
    height: 100vh;
}