<h1>Authentition</h1>
<p>if your donèt have an account, you can <a routerLink="/signup"> create one</a>  for free</p>



<form [formGroup]="authForm" (ngSubmit)="connect()" >
 
    <div>
        <label for="">username</label><br>
        <input type="text" formControlName="username"><br>
    </div> 
    <div>
        <label for="">password</label><br>
        <input type="text" formControlName="password"><br>
    </div> 
    
    <div>
        <button type="submit">connect</button>
    </div>
    
</form>