<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">New Order</h6>
    </div>
    <div class="card-body">
       <form [formGroup]="formData" (ngSubmit)="add()" >
           <div class="form-group mb-3">
                <label for="">Product</label>
                
                <select  class="form-control" formControlName="productID">
                        <option [value]="p.id" *ngFor="let p of products">{{p.title}}</option>
                </select>
           </div>
           <div class="form-group mb-3">
                <label for="">Quantity</label>
                <input type="number" class="form-control" formControlName="quantity" >
            </div>
       
           <div class="form-group">
                <button type="submit" class="btn btn-primary" [disabled]="! formData.valid">Ajouter</button>
            </div>


            <div class="alert alert-success mt-3" *ngIf="succMsg!= '' ">{{succMsg}}</div>
            <div class="alert alert-danger mt-3" *ngIf="errMsg!= '' ">{{errMsg}}</div>
            
       
       </form>
    </div>
</div>